:root {
    --bg: #f7fbff;
    --white: #ffffff;
    --muted: #6b7280;
    --primary: #2b8cff;
    --soft: #eaf3ff;
    --accent: #00a3a3;
    --card-radius: 14px;
    --container: 1100px;
    --glass: rgba(255, 255, 255, 0.7);
    --shadow: 0 6px 18px rgba(22, 38, 63, 0.08);
}

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background: linear-gradient(to right, #4b505a, #4b505a, #4b505a90);
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 50px;
    filter: brightness(0) invert(1);
}


.navbar h2 {
    color: #f7fbff;
    font-size: 2.5em;
}


.navbar a {
    margin: 0 20px;
    text-decoration: none;
    color: #eaf3ff;
    font-size: 1.5em;
}

.navright {
    position: relative;
    width: 500px;
}

.navright input {
    width: 100%;
    padding: 15px 110px 15px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.navright input::placeholder {
    color: #00a3a3
}

.navBtns {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 5px;
}

.navBtns button {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: #00a3a3;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s;
}

.hero {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    background:
        linear-gradient(to right, #4b505aa4, rgba(0, 163, 163, 0)),
        url("images/heroBG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 20px;
}

.handles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 250px;
}

.fa-twitter{
    font-size: 30px;
    color: #f7fbff;
}

.fa-facebook-f{
    font-size: 30px;
    color: #f7fbff;
}

.fa-instagram {
    font-size: 30px;
    color: #f7fbff;
}

.fa-youtube{
    font-size: 30px;
    color: #f7fbff;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 90vw;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

.left h1{
    font-size: 3.5em;
    color: #f7fbff;
}

.left p{
    font-size: 1.3em;
    color: #bdc1c4;
}

.right{
    width: 50%;
}

.right form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #4b505a64;
    border-radius: 20px;
    padding: 20px;
    color: #f7fbff;
    font-size: 1.5em;
    gap: 15px;
    font-weight: bold;
}

.right form input{
    background-color: #2b8aff00;
    border-radius: 8px;
    border-style: solid;
    border-color: #989b9e;
    color: #f7fbff;
    font-size: 1em;
    padding: 5px 0;
    font-weight: 400;
}

textarea {
    width: 100%;       
    height: 200px;     
    padding: 10px;     
    font-size: 16px;   
    border-radius: 8px;
    border: 1px solid #989b9e;
    resize: vertical;
    background-color: #2b8aff00;  
}

.right button{
    padding: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #00a3a3;
    color: #f7fbff;
    font-size: .8em;
}